$color-primary-1: #222222;
$color-primary-2: #333333;
$color-secondary-1: #777777;
$color-secondary-2: #737373;
$color-tertiary-1: #fed136;

$color-neutral-1: #ffffff;
$color-neutral-2: #f7f7f7;

$default-font-size: 1.4rem;
