.navigation {
	padding: 4rem 0;
	position: fixed;
	width: 100vw;
	z-index: 1;

	&__checkbox {
		display: none;
	}

	&__button {
		display: none;
	}

	&__list {
		list-style: none;
		text-align: center;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 4rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			font-size: $default-font-size;
			text-transform: uppercase;
			text-decoration: none;
			color: $color-neutral-1;
			transition: all 0.2s;
		}

		&:hover,
		&:active {
			color: $color-tertiary-1;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.active {
		background-color: $color-primary-1;
		padding: 1rem 0;
	}

	@include respond(tab-port) {
		&__checkbox:checked ~ &__nav {
			opacity: 1;
			width: 50vw;
			right: 0;
		}

		&__checkbox:checked ~ &__button &__icon {
			background-color: transparent;
		}

		&__checkbox:checked ~ &__button &__icon::before {
			top: 0;
			transform: rotate(135deg);
		}

		&__checkbox:checked ~ &__button &__icon::after {
			top: 0;
			transform: rotate(-135deg);
		}

		&__button {
			display: block;
		}

		&__icon {
			position: relative;

			&,
			&::before,
			&::after {
				width: 3rem;
				height: 2px;
				background-color: $color-tertiary-1;
				display: inline-block;
				transition: all 0.2s;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
			}

			&::before {
				top: -0.8rem;
			}

			&::after {
				top: 0.8rem;
			}
		}

		&__container {
			position: relative;
		}

		&__list {
			list-style: none;
			text-align: center;
		}

		&__item {
			display: block;
			margin: 1rem 0;

			&:not(:last-child) {
				margin-right: 0;
			}
		}

		&__nav {
			position: absolute;
			right: -50rem;
			top: 3rem;
			background: $color-primary-1;
			opacity: 0;
			width: 0;
			transition: all 1s;
			padding: 3rem;
		}
	}
}
